h4{
    cursor: pointer;
    color: rgba(29, 29, 29, 0.8);
    font-weight: 400;
}

.filters{
    display: flex;
    justify-content: space-between;
    padding:0 20px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}