.weatherNow{
    border-top: 1px solid #292929;
    padding: 0 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    
  }


  .weatherNow > div{
    width:95%;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }


  .left-side h3 {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(29, 29, 29, 0.8);
    margin: 0;
  }

  h2,h3{
    color: rgba(29, 29, 29, 0.8);
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
  }