.weatherNow{
    border-top: 1px solid #292929;
    padding: 0 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top:30px;
  }


  .weatherNow > div{
    width:95%;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }


  .left-side h3 {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(29, 29, 29, 0.8);
    margin: 0;
  }

  h2,h3{
    color: rgba(29, 29, 29, 0.8);
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .icon{
    width:1em;
    height: 1.5em;
  }

  .right-side > div {
    display: flex;
    align-items:center;
    gap:10px;
    margin:5px 0
  }

  .right-side > h3 {
    margin-top: 0;
  }

  .right-side >h3{
    font-size: 2em;
  }