body{
  background-color: #f5f5f5;
  background-color:rgb(46, 123, 240);
  width:100vw;
  height:100vh;
}

.wrapper{
  max-width: 100%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  height:100vh;
  
}




.card-bg{
  background-color:#FFF;
  width:90%;
  min-height:500px;
  
  border-radius: 2em;
}

.bg-city{
  display: block;
  width:100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}



